.task {
   display: flex;
   align-items: center;
   margin-bottom: 22px;
}

.remove-icon {
   width: 30px;
   height: 28px;
   margin-right: 21px;
   cursor: pointer;
}

.checkbox {
   width: 25px;
   height: 25px;
   background: #1E9CEA;
   margin-right: 21px;
   cursor: pointer;
}

.task-text {
   font-weight: 500;
   font-size: 24px;
   line-height: 29px;
   color: #000000;
}