.intro-page {
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.intro-page main {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.intro-text {
   font-weight: 700;
   font-size: 24px;
   line-height: 29px;
   color: #5E5E5E;
   margin-bottom: 40px;
}

.intro-button {
   background: #B47AEA;
   border-radius: 15px;
   padding: 8px 15px;
   outline: none;
   border: none;
   cursor: pointer;
}

.intro-button:hover {
   background: #aa6de2;
}

.intro-button a {
   font-weight: 700;
   text-decoration: none;
   font-size: 24px;
   line-height: 29px;
   color: #FFFFFF;
}

